<br />
<div class="container border border-2 p-2">
  <h2 class="mb-2 ms-3">Add Data</h2>
  <div class="row">
    <div class="col-md col-lg-4 mt-4">
      <img src="./assets/Add.png" alt="" style="width: 400px" />
    </div>
    <div class="col-md col-lg-8">
      <form class="ms-3" #form="ngForm">
        <div class="mb-1">
          <label for="txtName" class="form-label fs-5">Id </label>
          <input
            type="text"
            name="id"
            [(ngModel)]="employeeForm.id"
            class="form-control border-dark-subtle"
            id="txtId"
            #id="ngModel" required
          />
          <div *ngIf="id.touched && id.errors?.['required']">
            <span>This is required *</span>
          </div>
        </div>
        <div class="mb-1">
          <label for="txtName" class="form-label fs-5">Name </label>
          <input
            type="text"
            name="name"
            [(ngModel)]="employeeForm.name"
            class="form-control border-dark-subtle"
            id="txtName"
            #name="ngModel" required
          />
          <div *ngIf="name.touched && name.errors?.['required']">
            <span>This is required *</span>
          </div>
        </div>
        <div class="mb-1">
          <label for="designation" class="form-label fs-5">Designation </label>
          <input
            type="text"
            name="designation"
            [(ngModel)]="employeeForm.designation"
            class="form-control border-dark-subtle"
            id="txtName"
            #designation="ngModel" required
          />
          <div *ngIf="designation.touched && designation.errors?.['required']">
            <span>This is required *</span>
          </div>
        </div>
        <div class="mb-1">
          <label for="txtPrice" class="form-label fs-5">Salary </label>
          <input
            type="number"
            name="salary"
            [(ngModel)]="employeeForm.salary"
            class="form-control border-dark-subtle"
            id="txtPrice"
            #salary="ngModel" required
          />
          <div *ngIf="salary.touched && salary.errors?.['required']">
            <span>This is required *</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="txtQuantity" class="form-label fs-5">Experiance </label>
          <input
            type="number"
            name="quantity"
            [(ngModel)]="employeeForm.experiance"
            class="form-control border-dark-subtle"
            id="txtQuantity"
            #experiance="ngModel"
            required
          />
          <div *ngIf="experiance.touched && experiance.errors?.['required']">
            <span>This is required *</span>
          </div>
        </div>
        <button
          type="button"
          (click)="create()"
          class="btn btn-info btn-outline-secondary fw-bold me-3" [disabled]="form.invalid"
        >
          Add Data
        </button>
        <button
          type="button"
          (click)="reset()"
          class="btn btn-primary fw-800"
        >
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
