<nav class="navbar navbar-expand-lg text-dark bg-primary sticky-top">
  <div class="container">
    <img src="./assets/Icon.png" alt="" />

    <a
      class="navbar-brand fs-4 col-12 text-light fw-bold"
      style="cursor: pointer; color: #001e4b"
      [routerLink]="['/employee/home']"
      >Employee Management System</a
    >
  </div>
  <div class="d-flex col-3">
    <div class="col col-md offset-md-5">
      <a
        href=""
        class="btn btn-secondary btn-outline-info"
        [routerLink]="['/employee/create']"
        ><i class="fa-solid fa-plus"></i> Create</a
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
