/* You can add global styles to this file, and also import other style files */
* , .btn {
    /* cursor: url(./assets/cursor1.png) ,pointer; */
    user-select: none;
    
}

#preloader {
    background: rgb(255, 255, 255) url("assets/loader.gif") no-repeat center
      center;
    background-size:30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }

